body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  width:auto;
}
.buttonBox{
  margin: 0 auto;
  width: 600px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  font-size: 30px;
  font-weight: bold;
  background-color: #248;
  padding: 10px 30px;
  color: #fff;
  width:200px;
}

.result{
  font-size: 50px;
  margin: 0 auto;
  width: 600px;
}